    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    .navbar.bg-body-tertiary {
        background-color: #F2F2F2 !important;
    }