    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    img {
        max-width: 100%;
    }

    .hero {
        background-image: url('./assets/image/hero.png');
        background-size: cover;
        background-position: top center;
        min-height: 88vh;
        display: flex;
        align-items: end;
        justify-content: center;
        color: #F2F2F2;
    }